<div class="row wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>{{title}}</h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-wrench"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li><a href="#">Config option 1</a></li>
            <li><a href="#">Config option 2</a></li>
          </ul>
          <a class="close-link"><i class="fa fa-times"></i></a>
        </div>
      </div>
    <div class="ibox-content">
      <table class="row table table-striped table-bordered table-hover dataTables-example" >
        <thead class="thead-light">
          <th class="col-md-4">Subject</th>
          <th class="col-md-5">Body</th>
          <th class="col-md-1">Start</th>
          <th class="col-md-1">End</th>
          <th>Hours</th>
          <th>Action</th>
        </thead>
        <tbody>
          {{#each events}}
            <tr>
              <td>{{this.subject}}</td>
              <td>{{this.body.content}}</td>
              <td><time-span date = "{{this.start.dateTime}}"> </date-span></td>
              <td><time-span date = "{{this.end.dateTime}}"> </date-span></td>
              <td>
                <date-cal st="{{this.start.dateTime}}" ed = "{{this.end.dateTime}}"></date-cal>
              </td>
            <td>
                <add 
                  id="{{id}}" 
                  subject="{{this.subject}}" 
                  body = "{{this.body.content}}" 
                  st ="{{this.start.dateTime}}"
                  ed = "{{this.end.dateTime}}"
                  source = "{{source}}"
                />
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
